In [8]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("Resources/healthcare-dataset-stroke.csv")

df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [15]:
# Drop unique identifiers.
df = df.drop(['id'], axis=1)
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [17]:
df.shape

(5110, 21)

In [18]:
df.outcome

AttributeError: 'DataFrame' object has no attribute 'outcome'

In [16]:
df = pd.get_dummies(df, columns=["hypertension", "heart_disease", "ever_married",
                                "work_type", "smoking_status"
                                ])
df.head()

,gender,age,Residence_type,avg_glucose_level,bmi,stroke,hypertension_0,hypertension_1,heart_disease_0,heart_disease_1,...,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,Male,67.0,Urban,228.69,36.6,1,1,0,0,1,...,1,0,0,1,0,0,0,1,0,0
1,Female,61.0,Rural,202.21,NaN,1,1,0,1,0,...,1,0,0,0,1,0,0,0,1,0
2,Male,80.0,Rural,105.92,32.5,1,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0
3,Female,49.0,Urban,171.23,34.4,1,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
4,Female,79.0,Rural,174.12,24.0,1,0,1,1,0,...,1,0,0,0,1,0,0,0,1,0